book_ws/conf/wsdl2/employee1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="employeeService"
                  targetNamespace="http://jaxws.ws.learning.com/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://jaxws.ws.learning.com/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:documentation>
        This document describes the employee webservice.
    </wsdl:documentation>

    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified"
                   elementFormDefault="unqualified"
                   targetNamespace="http://jaxws.ws.learning.com/"
                   xmlns="http://jaxws.ws.learning.com/"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="employee">
                <xs:sequence>
                    <xs:element minOccurs="0" name="employeeId" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="address" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="EmployeeFault" type="EmployeeFault"/>
            <xs:complexType name="EmployeeFault">
                <xs:sequence/>
            </xs:complexType>
            <xs:element name="getEmployee" type="getEmployee"/>
            <xs:complexType name="getEmployee">
                <xs:sequence>
                    <xs:element minOccurs="0" name="employeeId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getEmployeeResponse" type="getEmployeeResponse"/>
            <xs:complexType name="getEmployeeResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="employee"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="EmployeeFault">
        <wsdl:part element="tns:EmployeeFault" name="EmployeeFault"/>
    </wsdl:message>
    <wsdl:message name="getEmployee">
        <wsdl:part element="tns:getEmployee" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getEmployeeResponse">
        <wsdl:part element="tns:getEmployeeResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="EmployeeService">
        <wsdl:operation name="getEmployee">
            <wsdl:input message="tns:getEmployee" name="getEmployee"/>
            <wsdl:output message="tns:getEmployeeResponse" name="getEmployeeResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="employeeServiceSoapBinding" type="tns:EmployeeService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getEmployee">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getEmployee">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="employeeService">
        <wsdl:port binding="tns:employeeServiceSoapBinding" name="EmployeeServicePort">
            <soap:address location="http://localhost:8080/wsbook/services/employee"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>